resources/standards-data/ldml-keyboards/techpreview/ldmlKeyboard.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- generated via Visual Studio from ldmlKeyboard.dtd -->
<xs:schema xmlns="http://tempuri.org/ldmlKeyboard" elementFormDefault="qualified" targetNamespace="http://tempuri.org/ldmlKeyboard" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="keyboard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="import" />
        <xs:element minOccurs="0" maxOccurs="1" ref="locales" />
        <xs:element minOccurs="0" maxOccurs="1" ref="version" />
        <xs:element minOccurs="0" maxOccurs="1" ref="info" />
        <xs:element ref="names" />
        <xs:element minOccurs="0" maxOccurs="1" ref="settings" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="vkeyMaps" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="displayMap" />
        <xs:element ref="keys" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="layerMaps" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="transforms" />
        <xs:element minOccurs="0" maxOccurs="1" ref="reorders" />
        <xs:element minOccurs="0" maxOccurs="1" ref="backspaces" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="special" />
      </xs:sequence>
      <xs:attribute name="locale" type="xs:string" use="required" />
      <xs:attribute name="conformsTo" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="techpreview" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="import">
    <xs:complexType>
      <xs:attribute name="path" type="xs:string" use="required" />
      <xs:attribute name="base">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="cldr" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="locales">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="locale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="locale">
    <xs:complexType>
      <xs:attribute name="id" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="version">
    <xs:complexType>
      <xs:attribute name="number" type="xs:string" />
      <xs:attribute fixed="techpreview" name="cldrVersion" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="info">
    <xs:complexType>
      <xs:attribute name="author" type="xs:string" />
      <xs:attribute name="normalization" type="xs:string" />
      <xs:attribute name="layout" type="xs:string" />
      <xs:attribute name="indicator" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="names">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="import" />
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="name" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="special" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="name">
    <xs:complexType>
      <xs:attribute name="value" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="special">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="settings">
    <xs:complexType>
      <xs:attribute name="fallback">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="omit" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="transformFailure">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="omit" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="transformPartial">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="hide" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="vkeyMaps">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="import" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="vkeyMap" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="special" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vkeyMap">
    <xs:complexType>
      <xs:attribute name="from" type="xs:string" use="required" />
      <xs:attribute name="to" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="displayMap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="import" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="display" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="displayOptions" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="special" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="display">
    <xs:complexType>
      <xs:attribute name="to" type="xs:string" use="required" />
      <xs:attribute name="display" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="displayOptions">
    <xs:complexType>
      <xs:attribute name="baseCharacter" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="keys">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="import" />
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="key" />
          <xs:element ref="flicks" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="special" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="key">
    <xs:complexType>
      <xs:attribute name="id" type="xs:string" use="required" />
      <xs:attribute name="flicks" type="xs:NMTOKEN" />
      <xs:attribute name="gap">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="to" type="xs:string" />
      <xs:attribute name="longPress" type="xs:string" />
      <xs:attribute name="longPressDefault" type="xs:string" />
      <xs:attribute name="multitap" type="xs:string" />
      <xs:attribute name="switch" type="xs:NMTOKEN" />
      <xs:attribute name="transform">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="no" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="width" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="flicks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="flick" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="special" />
      </xs:sequence>
      <xs:attribute name="id" type="xs:NMTOKEN" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="flick">
    <xs:complexType>
      <xs:attribute name="directions" type="xs:NMTOKENS" use="required" />
      <xs:attribute name="to" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="layerMaps">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="import" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="layerMap" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="special" />
      </xs:sequence>
      <xs:attribute name="form" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="hardware" />
            <xs:enumeration value="touch" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="minDeviceWidthMM" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="layerMap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="row" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="special" />
      </xs:sequence>
      <xs:attribute name="id" type="xs:NMTOKEN" />
      <xs:attribute name="modifier" type="xs:NMTOKEN" />
    </xs:complexType>
  </xs:element>
  <xs:element name="row">
    <xs:complexType>
      <xs:attribute name="keys" type="xs:NMTOKENS" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="transforms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="import" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="transform" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="special" />
      </xs:sequence>
      <xs:attribute name="type" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="transform">
    <xs:complexType>
      <xs:attribute name="before" type="xs:string" />
      <xs:attribute name="from" type="xs:string" use="required" />
      <xs:attribute name="to" type="xs:string" use="required" />
      <xs:attribute name="error">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="fail" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="reorders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="import" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="reorder" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="special" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reorder">
    <xs:complexType>
      <xs:attribute name="before" type="xs:string" />
      <xs:attribute name="from" type="xs:string" use="required" />
      <xs:attribute name="order" type="xs:string" />
      <xs:attribute name="tertiary" type="xs:string" />
      <xs:attribute name="tertiary_base" type="xs:string" />
      <xs:attribute name="prebase" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="backspaces">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="import" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="backspace" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="special" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="backspace">
    <xs:complexType>
      <xs:attribute name="before" type="xs:string" />
      <xs:attribute name="from" type="xs:string" use="required" />
      <xs:attribute name="to" type="xs:string" />
      <xs:attribute name="error">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="fail" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>