resources/standards-data/keylayout/dtd/keylayout.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="keyboard">
    <xs:annotation>
      <xs:documentation>

	Data generated April 15 2025

	Generated by S. Schmitt

</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>



        <xs:element name="layouts">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="layout">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:byte" name="first"/>
                      <xs:attribute type="xs:byte" name="last"/>
                      <xs:attribute type="xs:short" name="mapSet"/>
                      <xs:attribute type="xs:byte" name="modifiers"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>



        <xs:element name="modifierMap">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="keyMapSelect" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="modifier" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="keys" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="mapIndex" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id"/>
            <xs:attribute type="xs:byte" name="defaultIndex"/>
          </xs:complexType>
        </xs:element>



        <xs:element name="keyMapSet">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="keyMap" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="key" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:byte" name="code" use="optional"/>
                            <xs:attribute type="xs:string" name="action" use="optional"/>
                            <xs:attribute type="xs:string" name="output" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="index" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="id"/>
          </xs:complexType>
        </xs:element>



        <xs:element name="actions">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="action" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="when" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="state" use="optional"/>
                            <xs:attribute type="xs:string" name="output" use="optional"/>
                            <xs:attribute type="xs:byte" name="next" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="id" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>



        <xs:element name="terminators">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="when" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:byte" name="state" use="optional"/>
                      <xs:attribute type="xs:string" name="output" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>



      </xs:sequence>
      <xs:attribute type="xs:byte" name="group"/>
      <xs:attribute type="xs:short" name="id"/>
      <xs:attribute type="xs:string" name="name"/>
      <xs:attribute type="xs:byte" name="maxout"/>
    </xs:complexType>
  </xs:element>
</xs:schema>